.profile {
    width: 200px;
    min-height: 300px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile img {
    width: 100%;
    margin: 2px;
}